.qem {
	clear:left;
	width:100%;
	}
	
.qem-calendar-large {
	float:left;
	color: #343838;
	font-size: 120%;
	border: 1px solid #888;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	background: #FFF;
	width: 80px;
	margin: 5px 0 10px 0;
	padding: 0 0 5px 0;
	}
	
.qem-calendar-large span {
	background: red;
	border: 1px solid red;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	display: block;
	padding: 4px 0;
	}

.qem-calendar-large em {
	font-size: 200%;
	display: block;
	padding: 5px 0;
	color: 
	}

.qem-calendar-medium {
	float:left;
	color: #343838;
	font-size: 100%;
	border: 1px solid #888;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	background: #FFF;
	width: 60px;
	margin: 5px 0 10px 0;
	padding: 0 0 3px 0;
	}
	
.qem-calendar-medium span {
	background: red;
	border: 1px solid red;
	-moz-border-top-left-radius: 3px;
	-moz-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: white;
	display: block;
	padding: 3px 0;
	}

.qem-calendar-medium em {
	font-size: 150%;
	display: block;
	padding: 3px 0;
	color: 
	}

.qem-calendar-small {
	float:left;
	color: #343838;
	font-size: 80%;
	border: 1px solid #888;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	background: #FFF;
	width: 40px;
	margin: 5px 0 10px 0;
	padding: 0 0 2px 0;
	}
	
.qem-calendar-small span {
	background: #343838
	border: 1px solid #343838
	-moz-border-top-left-radius: 2px;
	-moz-border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	color: white;
	display: block;
	padding: 2px 0;
	}

.qem-calendar-small em {
	font-size: 140%;
	display: block;
	padding: 2px 0;
	color: 
	}

.qem-summary {
	float:left;
	margin-left: 20px;
	}
	
.qem-details {
	margin-left: 100px;
	}

.qem-details p {
	margin: 4px 0;
	padding: 0;
	}

#qem_sort { list-style-type: none; margin: 0; padding: 0; width:70em; }
#qem_sort li { margin: 3px 0; padding: 0.3em 0.8em 0.3em 0.5em; min-height: 1.6em; cursor:pointer; border:1px solid #888; clear:left}
#qem_sort li.button_active { background-color: white; background: url(updown.gif) no-repeat right center;}
#qem_sort li.button_active.first { background-color: white; background: url(down.gif) no-repeat right center;}
#qem_sort li.button_active.last { background-color: white; background: url(up.gif) no-repeat right center;}
#qem_sort li.button_inactive { background-color: #E0E0E0 }
#qem_sort li div {overflow:hidden;}