.qem-large {
	margin-left: 100px;
	}
.qem-medium {
	margin-left: 75px;
	}
.qem-small {
	margin-left: 50px;
	}
.qem-calendar-large {
	float:left;
	color: #343838;
	font-size: 120%;
	text-align: center;
	background: #FFF;
	width: 80px;
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
	}
	
.qem-calendar-large .day {
	font-size: 140%;
	color: white;
	display: block;
	padding: 4px 0;
	}

.qem-calendar-large .month {
	font-size: 200%;
	display: block;
	padding: 5px 0;
	color: 
	}

.qem-calendar-medium {
	float:left;
	color: #343838;
	text-align: center;
	background: #FFF;
	width: 60px;
	margin: 0 0 10px 0;
	padding: 0 0 3px 0;
	}
	
.qem-calendar-medium .day {
	background: red;
	font-size: 120%;
	color: white;
	display: block;
	padding: 3px 0;
	}

.qem-calendar-medium .month {
	font-size: 150%;
	display: block;
	padding: 3px 0;
	color: 
	}

.qem-calendar-small {
	float:left;
	color: #343838;
	font-size: 80%;
	text-align: center;
	background: #FFF;
	width: 40px;
	margin: 0 0 10px 0;
	padding: 0 0 2px 0;
	}
	
.qem-calendar-small .day {
	background: #343838
	color: white;
	display: block;
	padding: 2px 0;
	}

.qem-calendar-small .month {
	font-size: 140%;
	display: block;
	padding: 2px 0;
	text-align: center;
	color: 
	}

.qem-details {
	border:1px solid blue;
	}
.qem-details p {
	margin: 4px 0;
	padding: 0;
	}

.qem {margin-bottom:12px;}

#qem_sort { list-style-type: none; margin: 0; padding: 0; width:80em; }
#qem_sort li { margin: 3px 0; padding: 0.3em 0.8em 0.3em 0.5em; min-height: 1.6em; cursor:pointer; border:1px solid #888; clear:left}
#qem_sort li.button_active { background-color: white;}
#qem_sort li.button_inactive { background-color: #E0E0E0 }
#qem_sort li div {overflow:hidden;}